@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #09090b;
    --fire: #ef4444;
    /* Red 500 */
    --fire-glow: #7f1d1d;
    /* Red 900 */
}

body {
    background: var(--bg);
    color: #fafafa;
    font-family: 'Inter', sans-serif;
}

.fire-text {
    background: linear-gradient(to bottom, #fca5a5, #ef4444);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.roast-card {
    border: 1px solid #27272a;
    background: #18181b;
    /* Zinc 900 */
    box-shadow: 0 0 0 1px inset rgba(255, 255, 255, 0.05);
}

.score-circle {
    transition: all 1s ease-out;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
}